* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  background-color: navy;
  display: flex;
  flex-wrap: nowrap;
  
}
.nav-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

.nav-container ul {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  margin-right: 2vw;
}
.nav-container a {
  text-decoration: none;
  padding: 1vw;
  margin-right: 2vw;
  background-color: mediumvioletred;
  color: whitesmoke;
}
.logo-container {
  position: relative;
  margin: 3vh;
}
.logo-container img {
  width: 15vw;
}
h1 {
  text-align: center;
  align-items: center;
  padding: 3vh;
}

.container-footer {
  height: 15vh;
  background-color: navy;
}
.container-footer img {
  width: 36px;
  margin-right: 3vw;
}

footer{
  align-items: flex-end;
}
.container-form{
  width: 80%;
  margin: 0 auto;
}

.nav-details{
  margin-bottom: 8vh;
}