* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  height: 100%;
  margin: 0;
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
}
.title-color {
  background-color: #711a75;
}
.navbar-brand > img {
  width: 15vw;
}
h1 {
  color: whitesmoke;
  text-align: center;
  align-items: center;
  padding: 3vh;
}
.hidden-title{
  text-align: center;
  display: none;
}
.btn-color {
  background-color: #f582a7;
  color: #180a0a;
  box-shadow: 2px 2px 5px #180a0a;
}
.btn-color:hover {
  background-color: #711a75;
  color: whitesmoke;
  box-shadow: 2px 2px 5px #180a0a;
}
.table-color > tr > th {
  background-color: #180a0a;
  color: whitesmoke;
  border: #180a0a;
}
.table > tbody > tr:hover {
  background-color: #f582a7;
  color: #180a0a;
  border: 1px solid #f582a7;
}
.hidden {
  display: none;
}
footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.container-footer {
  background-color: #711a75;
  width: 100%;
  color: whitesmoke;
  display: flex;
  flex-wrap: nowrap;  
  margin-top: 5vh;
}
.container-icons {
  width: 75%;
}
.container-details {
  height: 100%;
  margin-bottom: 10%;
}
.card-details {
  background-color: #711a75;
  border-radius: 7px;
}
.card-body-details {
  background-color: whitesmoke;
  border-radius: 7px;
  padding-bottom: 2vh;
}
.card-body-details > p{
  margin-bottom: 1vh;
}
.card {
  width: 18rem;
  height: 24rem;
  padding: 0;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
.card-body {
  background-color: whitesmoke;
  border-radius: 7px;
  height: 12rem;
  padding-bottom: 2vh;
}
.card-title{
  text-align: center;
  padding-bottom: 1vh;
}
span{
  font-weight: bold;
}
.card-text{
  height: 45%;
}
.image-card{
  width: 17.9rem;
  height: 11rem;
}
.image-card > img{
  border-radius: 7px 7px 0 0;
  width: 100%;
  height: 11rem;
}
.container-card-botton{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shadow-card {
  box-shadow: 2px 2px 10px gray;
}

.container-form {
  width: 50%;
  box-shadow: 2px 2px 4px gray;
  border-radius: 10px;
  background-color: #180a0a;
  color: whitesmoke;  
  margin-bottom: 3vh;
}
.container-contact{
  display: flex;
  justify-content: center;
}
.container-checks{
  display: grid;
  grid-template-columns: 70% 30%;
}
.table {
  width: 70%;
  margin: 0 auto;
}
td {
  height: 30px;
}
.container-stats{
  margin-bottom: 5vh;
  padding-bottom: 5vh;
}
table {
  box-shadow: 2px 2px 5px #180a0a;
  height: 100%;
  }
.tr-title > td{
  background-color:#fba4bf;
  border: #f582a7;
  font-weight:500;
}

.f-bottom{
  width: 100%;
  position: fixed;
  bottom: 0;
}
.container-serch{
  height: 5vh;
}

@media (max-width: 768px) {
  .container-form {
    width: 80%;
    height: 100%;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
  }
  .f-bottom{
    width: 100%;
    position: relative;
    bottom: 0;
  }
  .card-details{
    height: auto;
  }
  .card-body-details{
    margin-top: 2vh;
  }
}

@media (max-width: 625px) {
  .container-footer {
    display: flex;
    flex-wrap: wrap;
  }
  .rights {
    width: 100%;
    text-align: center;
  }
  .container-icons {
    width: 100%;
    justify-content: center;
  }
  .card {
    width: 90%;
  }
  .image-card{
    width: 100%;
  }
  .card-text{
    height: 50%;
  }
  .navbar-brand > img {
    width: 30vw;
  }
  .card-details{
    height: auto;
  }
  .card-body-details{
   height: auto;
  }
  .card-body-details > p{
    height: auto;
   }
}
